@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body::-webkit-scrollbar {
  width: 0;
}

@font-face {
  font-family: 'Title';
  src: url('/fonts/Blaz Thor.otf');
}

@font-face {
  font-family: 'Body';
  src: url('/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'BodyBold';
  src: url('/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'BodyThin';
  src: url('/fonts/Poppins-Thin.ttf');
}