.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .main {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        background-color: #fff;

        .obejctone {
            position: absolute;
            top: 100px;
            left: 380px;
            z-index: 1;
        }

        .obejcttwo {
            background-color: #000;
            position: absolute;
            top: -200px;
            left: -500px;
        }
    }
}