@font-face {
    font-family: 'Zamruds';
    src: url("../../public/fonts/ZAMRUDS.ttf");
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .main{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .title{
            color: white;
            font-size: 80px;
            font-family: 'Zamruds';
            letter-spacing: 25px;
            text-align: center;
            text-transform: uppercase;
            text-shadow: 0 0 10px #e0aaff;
        }
    }
}